@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';


* {
    font-family: 'Poppins', sans-serif;
}
