@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';


* {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: $featured;
    border-color: $featured-dark;

    a:hover {
        background-color: $featured-dark;
    }
}

.btn-outline-primary {
    border-color: $featured;
    color: $featured;
    font-size: 16px;

    &:hover {
        color: $dark;
        background-color: $featured;
    }
}

.show {
    display: block !important;
}